*{
    margin: 0rem;
    padding: 0rem;
    list-style: none;
}

.wrapper{
    width: 7;
    /* height: 40rem; */
    
}

.nav{
    width: 7rem;
    height: 0.8rem;
    font-size: 0.3rem;
    font-weight: 400;
    line-height: 0.8rem;
    color: rgb(33, 86, 166);
    margin-left: 0.5rem;
}

.top{
    position: relative;
    width: 7.5rem;
    height: 4.1666rem;
    overflow: hidden;
}

.top .imgPlay{
    position: absolute;
    width: 30rem;
    height: 4.1666rem;
}

.top .imgPlay ul{
    list-style: none;;
    width: 30rem;
    height: 4.1666rem;
}

.top .imgPlay ul li{
    display: inline-block;
    width: 7.5rem;
    height: 4.1666rem;
    overflow: hidden;
}

.top .imgPlay ul li img{
    width: 100%;
}

.introduce{
    position: relative;
    width: 7.5rem;
    height: 7rem;
}

.introduce>span{
    padding-left: 0.2rem;
    color: rgb(33, 86, 166);
    font-size: 0.4rem;
    font-family: "微软雅黑";
    font-weight: 600;
    
}

.introduce .myimg{
    width: 2rem;
    height: 2rem;
    border:0.1rem solid #eee;
    border-radius:50%;
    left: 50%;
    position: absolute;
    margin-left: -1rem;
    overflow: hidden;
}

.introduce .myimg img{
    width: 100%;
    position: relative;
    top: -0.8rem;
}

.introduce .mytext{
    font-size: 0.3rem;
    position: absolute;
    top: 4rem;
    left: 1.4rem;
}

.mytext ul li{
    height: 0.15rem;
    width: 5rem;
}

.introduce .mytext span{
    color: rgb(33, 86, 166);
}

.skill{
    position: relative;
    width: 7.5rem;
    height: 7rem;
    background-color: rgb(33, 86, 166);
}

.skill>span{
    display: inline-block;
    width: 7.5rem;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    font-size: 0.4rem;
    font-family: "微软雅黑";
    font-weight: 600;
    color: #fff;

}

.skill .designs{
    display: inline-block;
}

.skill .designs ul{
    display:inline-block;
    width: 0.5rem;
    height: 4.6rem;
    font-size: 0.3rem;
    color: #fff;
    margin-top: -0.2rem;
    margin-left: 0.3rem;
}

.skill .designs ul li{
    display:inline-block;
    width: 0.5rem;
    height: 0.8rem;
    font-size: 0.3rem;
    color: #fff;
}

.skill .box1{
    position: absolute;
    top: 1.55rem;
    left: 1.11rem;
    height: 0;
    width: 0;
    border-left: 0.1rem transparent solid;
    border-right: 0.1rem transparent solid;
    border-bottom: 0.1rem #fff solid;
}

.skill .box2{
    position: absolute;
    top: 6rem;
    left: 7.2rem;
    height: 0;
    width: 0;
    border-left: 0.1rem #fff solid;
    border-top: 0.1rem transparent solid;
    border-bottom: 0.1rem transparent solid;
}


.skill .skillBox{
    display:inline-block;
    width: 6rem; 
    height: 4.5rem;
    border-left:0.01rem solid #fff; 
    border-bottom:0.01rem solid #fff;
    margin-top: rem;
    overflow: hidden;
}


.ps{
    display: inline-block;
    width: 0.44rem;
    height: 3.6rem;
    background-color: #fff;
    margin-left: 0.2rem;
    margin-top: 1.3rem;
    animation: ps 3s linear;  
}

.ai{
    display: inline-block;
    width: 0.44rem;
    height: 3.3rem;
    background-color: #fff;
    margin-left: 0.2rem;
    margin-top: 2.2rem;
    animation: ai 3s linear;  
}

.cdr{
    display: inline-block;
    width: 0.44rem;
    height: 3.8rem;
    background-color: #fff;
    margin-left: 0.2rem;
    margin-top: 1.5rem;
    animation: cdr 3s linear;  
}

.html{
    display: inline-block;
    width: 0.44rem;
    height: 2.8rem;
    background-color: #fff;
    margin-left: 0.2rem;
    margin-top: 1.7rem;
    animation: html 3s linear;  
}

.css{
    display: inline-block;
    width: 0.44rem;
    height: 3.1rem;
    background-color: #fff;
    margin-left: 0.2rem;
    margin-top: 1.4rem;
    animation: css 3s linear;  
}

.js{
    display: inline-block;
    width: 0.44rem;
    height: 2.3rem;
    background-color: #fff;
    margin-left: 0.2rem;
    margin-top: 2.2rem;
    animation: js 3s linear;  
}

@keyframes ps{
    0% {margin-top:4.5rem;}
    100% {margin-top:0.9rem;}
}

@keyframes ai{
    0% {margin-top:4.5rem;}
    100% {margin-top:1.2rem;}
}

@keyframes cdr{
    0% {margin-top:4.5rem;}
    100% {margin-top:0.7rem;}
}

@keyframes html{
    0% {margin-top:4.5rem;}
    100% {margin-top:1.7rem;}
}

@keyframes css{
    0% {margin-top:4.5rem;}
    100% {margin-top:1.4rem;}
}

@keyframes js{
    0% {margin-top:4.5rem;}
    100% {margin-top:2.2rem;}
}

.skill .skilltext{
    margin-top: -0.3rem;
    margin-left: 0.9rem;
    height: 0.4rem;
    width: 6rem;
}

.skill .skilltext ul{

    font-size: 0.28rem;
    color: #fff;
    height: 0.4rem;
    width: 6rem;
}

.skill .skilltext ul li{
    float: left;
    margin-left: 0.44rem;
}

.skill .skilltext ul li:nth-child(2){
    margin-left: 0.6rem;
}

.skill .skilltext ul li:nth-child(3){
    margin-left: 0.5rem;
}

.skill .skilltext ul li:nth-child(4){
    margin-left: 0.3rem;
}

.skill .skilltext ul li:nth-child(5){
    margin-left: 0.3rem;
}

.skill .skilltext ul li:nth-child(6){
    margin-left: 0.5rem;
}


.resume>span{
    display: inline-block;
    width: 7.5rem;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    font-size: 0.4rem;
    font-family: "微软雅黑";
    font-weight: 600;
    color: rgb(33, 86, 166);

}

.education{
    margin-top: 0.2rem;
    font-size: 0.3rem;
    width: 7rem;
    margin-left: 0.2rem;
}


.education span:nth-child(1){
    display: block;
    width: 6rem;
    border-bottom: 0.01rem solid #aaa;
    font-size: 0.4rem;
    font-weight: 500;
    color: rgb(33, 86, 166);
    padding-bottom: 0.1rem;
    padding-left: 0.1rem;
    margin-bottom: 0.2rem;
}

.education span:nth-child(2){
    display: inline-block;
    margin-bottom: 0.2rem;
}

.work{
    margin-top: 0.8rem;
    font-size: 0.3rem;
    width: 7rem;
    margin-left: 0.2rem;
}

.work span:nth-child(1){
    display: block;
    width: 6rem;
    border-bottom: 0.01rem solid #aaa;
    font-size: 0.4rem;
    font-weight: 500;
    color: rgb(33, 86, 166);
    padding-bottom: 0.1rem;
    padding-left: 0.1rem;
    margin-bottom: 0.2rem;
}

.work span:nth-child(2){
    display: inline-block;
    margin-bottom: 0.2rem;
}

.want{
    margin-top: 0.8rem;
    font-size: 0.3rem;
    width: 7rem;
    margin-left: 0.2rem;
}

.want span{
    display: block;
    width: 6rem;
    border-bottom: 0.01rem solid #aaa;
    font-size: 0.4rem;
    font-weight: 500;
    color: rgb(33, 86, 166);
    padding-bottom: 0.1rem;
    padding-left: 0.1rem;
    margin-bottom: 0.2rem;
}

.foot{
    margin-top: 1rem;
    position: relative;
    width: 7.5rem;
    height: 4rem;
    background-color:rgb(33, 86, 166);
}

.foot .callme{
    display: block;
    width: 7.5rem;
    height: 0.8rem;
    padding-top: 0.5rem;
    color: #fff;
    font-size: 0.4rem;
    font-family: "微软雅黑";
    font-weight: 600; 
    text-align: center;
}

.foot span:nth-child(2){
    font-size: 0.4rem;
    color: #fff;
    display: block;
    padding-left: 1.3rem;
}

.foot .wechat{
    width: 1.5rem;
    height: 1.5rem;
    background-color: #fff;
    display: inline-block;
    margin-left: 1rem;
}

.foot span:nth-child(4){
    font-size: 0.2rem;
    color: #fff;
    display: inline-block;
}

.foot .wechat img{
    width: 100%;
}
